* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.bar {
    height: 3px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
}

header {
    width: 100%;
    background-color: #548235;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.title {
    width: calc(100% - 100px);
    color: #F2F2F2;
    text-align: center;
    margin-top: 16px;
}

.navbutton {
    width: 50px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 275px;
    height: calc(100% - 50px);
    background-color: #E7E6E6;
    z-index: 1;
    position: absolute;
    top: 50px;
    left: -275px;
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.2);
    transition: left 0.75s;
}

.progress-bar {
    width: 100%;
    height: 50px;
    background-color: #E7E6E6;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    z-index: 2;
}

#first-phase, #second-phase, #third-phase {
    width: 15px;
    height: 15px;
    border: 3px solid #548235;
    border-width: 3px;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
}

#first-phase {
    border-color: #548235;
    background-color: #548235;
}

#second-phase {
    border-color: #548235;
    background-color: #E7E6E6;
}

#third-phase {
    border-color: #7F7F7F;
    background-color: #E7E6E6;
}

#first-pass {
    color: #548235;
    font-size: 20px;
}

#second-pass {
    color: #7F7F7F;
    font-size: 20px;
}

.phase-menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 50px);
    justify-content: center;
    align-content: flex-start;
    padding: 20px;
    background-color: #E7E6E6;
    z-index: 1;
}

.phase-title {
    text-align: center;
    font-size: 25px;
    color: #548235;
    margin-bottom: 20px;
}

select {
    font-size: 17.5px;
    border: 3px solid #548235;
    outline: 0;
    background-color: #E7E6E6;
    color: #548235;
    padding: 5px;
    margin-bottom: 20px;
    width: 80%;
    appearance: none;
    background: url(images/ArrowDownButtonLight.png) 100% / 31px no-repeat;
}

select:hover {
    background: url(images/ArrowDownButtonDark.png) 100% / 31px no-repeat;
}

option {
    color: #7F7F7F;
    margin: 5px;
}

option:focus {
    color: #548235;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fileBrowser {
    width: 80%;
    cursor: pointer;
    border: 3px solid #548235;
    background-color: #E7E6E6;
    color: #548235;
    font-size: 17.5px;
    margin-bottom: 20px;
    display: none;
    flex-wrap: wrap; 
}


.fileBrowser input {
    display: none;
}

.fileBrowser div {
    width: calc(100% - 31px);
    padding: 5px;
}

/* the below May be outdated following backend introduction */
input[type="submit"]{
    width: 75%;
    outline: 0;
    border: 3px solid #548235;
    background-color: #548235;
    color: #E7E6E6;
    font-size: 17.5px;
    padding: 5px;
}

/* the below May be outdated following backend introduction */
input[type="submit"]:hover {
    background-color: #E7E6E6;
    color: #548235;
}

#generateGraphsButton {
    width: 80%;
    outline: 0;
    border: 3px solid #548235;
    background-color: #548235;
    color: #E7E6E6;
    font-size: 17.5px;
    padding: 5px;
}

#generateGraphsButton:hover {
    background-color: #E7E6E6;
    color: #548235;
}

/* Basic Button Class */
.basic-btn{
    width: 80%;
    outline: 0;
    border: 3px solid #548235;
    background-color: #548235;
    color: #E7E6E6;
    font-size: 17.5px;
    padding: 5px;
    margin-top: 5px;
}
.basic-btn:hover {
    background-color: #E7E6E6;
    color: #548235;
}

/*Custom Checkbox*/
/*----------------------------------------------------------------*/

/* Customize the label (the container) */
.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 31px;
    position: relative;
    padding-left: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 17.5px;
    color: #548235
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 31px;
    width: 31px;
    background-color: #E7E6E6;
    border: 3px solid #548235;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #548235;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #548235;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container:hover input:checked ~ .checkmark {
    background-color: #E7E6E6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #E7E6E6;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-container:hover .checkmark:after {
    border: solid #548235;
    border-width: 0 3px 3px 0;
}
/*-------------------------------------------------------------------------*/


canvas {
    height: calc(100% - 55px);
    width: 100%;
}


/*Hover graphics for buttons*/
#bars:hover {
    content: url(images/MenuButtonLight.png);
}

#cross:hover {
    content: url(images/CrossButtonLight.png);
}

#cross {
    display: none;
}

#info:hover {
    content: url(images/InfoButtonLight.png);
}

#file:hover {
    content: url(images/FileButtonDark.png);
}

#file {
    height: 31px;
    width: 31px;
    float: right;
    border-left: 3px solid #548235;
}


/* Navigation Bar */
.navigationBar {
    background-color: inherit; 
    width:100%; 
    height:1%; 
    display:flex; 
    border: solid;
    border-color: #548235;
    
}

.navigationBarSections {
    width: 33.33%;
    background-color: inherit;

}

#navBar1 {
    background-color: red;
}

#popup {
    display: block;
    position: absolute;
    padding: 20px;
    width: 100%;
    height: calc(100% - 160px);
    top: 160px;
    left: -275px;
    background-color: #E7E6E6;
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.2);
    border-left: 4px dotted #548235;
    transition: left 0.75s;
}

/*
.popupActive {
    display: block;
}*/
